body {
  font-family: "Roboto";
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-web {
  color: #2196f3;
}

.header-studio {
  color: #000;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-nav {
  margin-left: 93px;
  margin-right: 344px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.header-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.header-item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item-svg:hover {
  .header-contact {
    color: #2196f3;
  }
  .header-envelope,
  .header-smartphone {
    fill: #2196f3;
  }
}

.header-page {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  width: 122px;
}

.header-page:hover {
  color: #2196f3;
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  width: 122px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("./images/background-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-button {
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
}

.company {
  padding-top: 94px;
  padding-bottom: 94px;
}

.company-container {
  display: flex;
  align-items: center;
}

.company-list {
  display: flex;
  gap: 30px;
}

.company-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.company-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.company-satellite::before {
  content: "";
  background-color: #f5f4fa;
  background-image: url("./images/satellite-dish.png");
  display: block;
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.company-clock::before {
  content: "";
  background-color: #f5f4fa;
  background-image: url("./images/clock.png");
  display: block;
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.company-diagram::before {
  content: "";
  background-color: #f5f4fa;
  background-image: url("./images/diagram.png");
  display: block;
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.company-astronaut::before {
  content: "";
  background-color: #f5f4fa;
  background-image: url("./images/astronaut.png");
  display: block;
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.about {
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.about-item {
  position: relative;
}

.about-photo {
  width: 370px;
  height: 294px;
}

.about-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 4px;
  left: 0px;
  padding-top: 27px;
}

.about-text {
  background-color: #2f303ab7;
  width: 370px;
  height: 70px;
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item {
  background-color: #ffffff;
  box-shadow:
    0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-photo {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team-specialty {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.team-list-social {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
  margin-left: 32px;
  gap: 10px;
}

.team-item-social {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #2195f300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-item-social:hover {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  .team-social {
    fill: #fff;
  }
}

.team-social {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.regular-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.regular {
  padding-top: 86px;
  padding-bottom: 110px;
}

.regular-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.regular-item {
  border: 1px solid #afb1b8;
}

.regular-item:hover {
  border-color: #2196f3;
  .regular-svg {
    fill: #2196f3;
  }
}

.regular-svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-right: 32px;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
}

.footer-web {
  color: #2196f3;
}

.footer-studio {
  color: #fff;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 9px;
  width: 231px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-list-svg {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.footer-link {
  border-radius: 50%;
  background-color: #ffffff10;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item-svg:hover {
  border-radius: 50%;
  background-color: #2196f3;
  width: 44px;
  height: 44px;
}

.footer-page {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-box {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.container-svg {
  display: flex;
  align-items: baseline;
}

.footer-label {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  margin-top: 20px;
  padding-left: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-box-subcribe {
  display: flex;
  position: relative;
}

.footer-butn-subcribe {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-telegram {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
}

/*  Модальне вікно */

.backdrop {
  background-color: #2121217a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.model {
  width: 534px;
  height: 587px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow:
    0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.model-buttn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 16px;
}

.model-buttn:hover {
  .model-icon {
    fill: #188ce8;
  }
}

.model-icon {
  width: 18px;
  height: 18px;
  fill: #000;
}

.model-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.model-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  position: relative;
}

.model-input {
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  border: none;
  padding-left: 43px;
}

.model-input:hover,
.model-input:focus {
  outline: 1px solid #2196f3;
}

.model-input:hover + .model-pic,
.model-input:focus + .model-pic {
  fill: #2196f3;
}

.model-pic {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 30px;
  left: 12px;
  fill: #212121;
}

.model-coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.model-coment:hover,
.model-coment:focus {
  outline: 1px solid #2196f3;
}

.model-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 9px;
}

.model-text {
  margin-right: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.model-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
}

.model-submit {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #188ce8;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  display: block;
  margin: 0% auto;
  margin-top: 30px;
}
