body {
  font-family: "Roboto";
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-page{
    width: 122px;
}


.header-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-svg:hover {
  fill: #2196f3;
}

.portfolio-container {
  display: flex;
  align-items: center;
}

.header-web {
  color: #2196f3;
}

.header-studio {
  color: #000;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-nav {
  margin-left: 93px;
  margin-right: 344px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-page {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-page:hover {
  color: #2196f3;
}

.catalog {
  padding-top: 94px;
  padding-bottom: 34px;
}

.catalog-item {
  max-width: 575px;
}

.catalog-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  border: none;
  border-radius: 4px;
}

.catalog-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  max-width: 575px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #f5f4fa;
}

.catalog-page:hover {
  background-color: #2196f3;
  color: #fff;
}

.portfolio {
  padding-bottom: 114px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
  box-shadow:
    1px 4px 6px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.portfolio-photo {
  width: 370px;
  height: 294px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  gap: 30px;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
}

.footer-web {
  color: #2196f3;
}

.footer-studio {
  color: #fff;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 9px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-page {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-svg {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.footer-item-svg {
  border-radius: 50%;
  background-color: #ffffff10;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item-svg:hover {
  border-radius: 50%;
  background-color: #2196f3;
  width: 44px;
  height: 44px;
}

.footer-box {
  margin-left: 70px;
}

.footer-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.container-svg {
  display: flex;
  align-items: baseline;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
