$accent-color: #2196f3;
$logo-color: #000;
$title-color: #212121;
$text-color: #757575;
$main-color: #FFF;
$team-bg: #F5F4FA;
$footer-bg: #2F303A;
$footer-contact: rgba(255, 255, 255, 0.60);
$footer-input: rgba(255, 255, 255, 0.30);
$border-card: #EEE;
$portfolio-line: #ECECEC;
$card-owerlay: rgba(33, 150, 243, 0.90);
$shadow-card: rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
$button-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
$team-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.20);
$hero-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
$input-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
$client-border: #AFB1B8;
$backdrop-icon: #188ce8;
$footer-link: #ffffff10;
$footer-background: rgba(33, 150, 243, 0);
$catalog-color: 0 2px 2px 0 rgba(0, 0, 0, 0.12),  0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
$backdrop-coment: rgba(117, 117, 117, 0.5); 
$backdrop-border: rgba(33, 33, 33, 0.2); 
$backdrop-buttn: rgba(0, 0, 0, 0.1);
$model: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12); 
$backdrop-main: #2121217a;
$about-bg: #2f303ab7;  
$gradient: rgba(47, 48, 58, 0.4); 
$member: #2195f300;   