@use"../base/variables" as *;

.about {
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
  }

  &__list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__photo {
    width: 370px;
    height: 294px;
  }

  &__text {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 4px;
    left: 0px;
    padding-top: 27px;
    background-color: $about-bg;
    width: 370px;
    height: 70px;
  }
}