.backdrop {
  background-color: $backdrop-main;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

  &__hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &__hidden &__model {
      transform: scale(0);
      transition-duration: 250ms;
      transition-property: transform;
    }
  }

  &__model {
    width: 534px;
    height: 587px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow:
      $model;
    position: relative;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    transform: scale(1);
    transition-duration: 250ms;
    transition-property: transform;
  }

  &__buttn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: solid $backdrop-buttn;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 16px;

    &:hover {
      .backdrop__icon {
        fill: $backdrop-icon;
      }
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    fill: $logo-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
    margin-bottom: 12px;
  }

  &__label {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $text-color;
    display: block;
    position: relative;
  }

  &__input {
    outline: 1px solid $backdrop-border;
    border-radius: 4px;
    width: 448px;
    height: 40px;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    border: none;
    padding-left: 43px;
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      outline: 1px solid $accent-color;
    }

    &:hover+&__pic,
    &:focus+&__pic {
      fill: $accent-color;
    }
  }

  &__pic {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 12px;
    fill: $title-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__coment {
    border: 1px solid $backdrop-border;
    border-radius: 4px;
    width: 448px;
    height: 120px;
    padding-left: 16px;
    padding-top: 12px;
    margin-top: 4px;
    margin-bottom: 20px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $backdrop-coment;
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      outline: 1px solid $accent-color;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__checkbox {
    width: 16px;
    height: 15px;
    margin-right: 9px;
  }

  &__text {
    margin-right: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $text-color;
  }

  &__link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $accent-color;
  }

  &__submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $main-color;
    box-shadow: $input-shadow;
    background: $backdrop-icon;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: none;
    display: block;
    margin: 0% auto;
    margin-top: 30px;
  }
}