@use"../utiles/mixin" as *;
@use"../base/variables" as *;

.company {
  padding-top: 94px;
  padding-bottom: 94px;

  &__container {
    // display: flex;
    // align-items: center;
    @include flexbox($justify: none);
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $text-color;
  }

  &__satellite::before {
    content: "";
    background-color: $team-bg;
    background-image: url("../images/satellite-dish.png");
    display: block;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }

  &__clock::before {
    content: "";
    background-color: $team-bg;
    background-image: url("../images/clock.png");
    display: block;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }

  &__diagram::before {
    content: "";
    background-color: $team-bg;
    background-image: url("../images/diagram.png");
    display: block;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }

  &__astronaut::before {
    content: "";
    background-color: $team-bg;
    background-image: url("../images/astronaut.png");
    display: block;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
}