@use"../utiles/mixin" as *;
@use"../base/variables" as *;

.footer {
  background: $footer-bg;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__logo {
    font-family: $font-family1;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: $accent-color;
    margin-bottom: 20px;
  }

  &__web {
    color: $accent-color;
  }

  &__studio {
    color: $main-color;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $main-color;
    margin-bottom: 9px;
    width: 231px;
  }

  &__list {
    @include flexbox($direction: column, $gap: 9px, $align: none, $justify: none);
  }

  &__page {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $footer-contact;
  }

  &__box {
    margin-left: 70px;
    margin-right: 93px;
  }

  &__title {
    font-family: $font-family1;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 20px;
  }

  &__group {
    @include flexbox($align: baseline, $justify: none, $gap: 10px);
  }

  &__icon {
    border-radius: 50%;
    // transition-property: background-color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include transform($property: background-color);

    &:hover {
      border-radius: 50%;
      background-color: $accent-color;
      width: 44px;
      height: 44px;
    }
  }

  &__link {
    border-radius: 50%;
    background-color: $footer-link;
    width: 44px;
    height: 44px;
    @include flexbox();
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: $main-color;
  }

  &__block {
    display: flex;
    align-items: flex-end;
  }

  &__form {
    width: 370px;
  }

  &__label {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
  }

  &__input {
    border: 1px solid $footer-input;
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: $input-shadow;
    background: $footer-background;
    margin-top: 20px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: $footer-contact;
    margin-right: 12px;
  }

  &__butn {
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $main-color;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: $input-shadow;
    background: $accent-color;
    border: none;
    @include flexbox();
  }

  &__telegram {
    width: 24px;
    height: 24px;
    fill: $main-color;
    margin-left: 10px;
  }
}