@use"../utiles/mixin" as *;
@use"../base/variables" as *;

.header {
  padding: 10px 0;

  @media screen and (min-width: 768px) {
    padding: 21px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 25px 0;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-family: $font-family1;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }

  &__web {
    color: $accent-color;
  }

  &__studio {
    color: $logo-color;
  }

  &__nav {
    margin-left: 93px;
    margin-right: 315px;
    display: none;

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__page {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $title-color;
    width: 122px;
    @include transform($property: color);

    &:hover {
      color: $accent-color;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }

    &::after {
      content: "";
      display: block;
      background-color: $accent-color;
      width: 100%;
      border-radius: 2px;
      height: 4px;
      transform: translateY(28px);
      opacity: 0;
      visibility: hidden;
      @include transform($property: opacity);
    }
  }

  &__icon {
    @include flexbox();

    &:hover {
      color: $accent-color;

      .header__contact {
        color: $accent-color;
      }

      .header__envelope,
      .header__smartphone {
        fill: $accent-color;
      }
    }
  }

  &__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $text-color;
    @include transform($property: fill);
  }

  &__contact {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $text-color;
    width: 122px;
    @include transform($property: color);
  }

  &__smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: $text-color;
    @include transform($property: fill);
  }
}