.header {
  padding-top: 24px;
  padding-bottom: 25px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: $accent-color;
  }

  &__web {
    color: $accent-color;
  }

  &__studio {
    color: #000;
  }

  &__nav {
    margin-left: 93px;
    margin-right: 344px;
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__page {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    width: 122px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $accent-color;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }

    &::after {
      content: "";
      display: block;
      background-color: $accent-color;
      width: 100%;
      border-radius: 2px;
      height: 4px;
      transform: translateY(28px);
      opacity: 0;
      visibility: hidden;
      transition-property: opacity;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $accent-color;

      .header__contact {
        color: $accent-color;
      }

      .header__envelope,
      .header__smartphone {
        fill: $accent-color;
      }
    }
  }

  &__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contact {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    width: 122px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }

  &__smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}