@use"../utiles/mixin" as *;
@use"../base/variables" as *;

.regular {
  padding-top: 86px;
  padding-bottom: 110px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
    margin-bottom: 50px;
  }

  &__list {
    @include flexbox($gap: 30px);
  }

  &__item {
    border: 1px solid #afb1b8;
    @include transform($property: border-color);

    &:hover {
      border-color: $accent-color;

      .regular__svg {
        fill: $accent-color;
      }
    }
  }

  &__svg {
    width: 106px;
    height: 60px;
    fill: $client-border;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-right: 32px;
    @include transform($property: fill);
  }
}