@use"../utiles/mixin" as *;
@use"../base/variables" as *;

.team {
  background-color: $team-bg;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      margin-top: 50px;
    }
  }

  &__item {
    background-color: $main-color;
    box-shadow: model;
  }

  &__photo {
    width: 450px;
    height: 460px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 374px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
    margin-bottom: 10px;
  }

  &__specialty {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $text-color;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
  }

  &__group {
    margin-bottom: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include flexbox($justify: none, $gap: 10px);
  }

  &__member {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: $member;
    @include flexbox();
    @include transform($property: background-color);

    &:hover {
      border-radius: 50%;
      width: 44px;
      height: 44px;
      background-color: $accent-color;
      @include flexbox();

      .team__social {
        fill: $main-color;
      }
    }
  }

  &__social {
    width: 20px;
    height: 20px;
    @include flexbox();
    fill: $client-border;
    @include transform($property: fill);
  }
}