@use"../utiles/mixin" as *;
@use"../base/variables" as *;

.team {
  background: $team-bg;
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
  }


  &__list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
  }

  &__item {
    background-color: $main-color;
    box-shadow:
      model;
  }

  &__photo {
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
    margin-bottom: 10px;
  }

  &__specialty {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $text-color;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
  }

  &__group {
    // display: flex;
    // align-items: center;
    margin-bottom: 42px;
    margin-left: 32px;
    // gap: 10px;
    @include flexbox($justify: none, $gap: 10px);
  }

  &__member {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: $member;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // transition-property: background-color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include flexbox();
    @include transform($property: background-color);

    &:hover {
      border-radius: 50%;
      width: 44px;
      height: 44px;
      background-color: $accent-color;
      @include flexbox();

      .team__social {
        fill: $main-color;
      }
    }
  }

  &__social {
    width: 20px;
    height: 20px;
    @include flexbox();
    fill: $client-border;
    @include transform($property: fill);
  }
}